<%= form_tag '/getevents' do  -%>

  <div class="field">
    <%= text_field_tag 'city', nil, :placeholder => "which city are you in?" %>
  </div>

  <div class="actions">
    <%= submit_tag 'go' %>
  </div>

<% end -%>
